# PostgreSQL
POSTGRES_DB=siie
POSTGRES_USER=siie_user
POSTGRES_PASSWORD=changeme123

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=word-images

# App
SECRET_KEY=supersecretkey_change_in_production
DEV_MODE=true

# Telegram (заполнить когда будет нужно)
TELEGRAM_BOT_TOKEN=
